body{	
	background:#000000;
}

#contener{
	width:960px;
	margin: 0 auto;
	background:#ffffff;
	padding-top:20px;	
	padding-left: 20px;
	padding-right: 20px;
}

header{
	background-image:url("graphics/header2.jpg");
	height:172px;
	color:#ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

nav{
	background-image:url("graphics/nav2.jpg");
	height:41px;
	padding-left: 10px;
	padding-right: 10px;
}

#content{
	background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%); 
	background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 100%); 
	background: linear-gradient(to bottom, #dddddd 0%,#ffffff 100%);

}

footer{
	position: relative;
	left:-20px;
	background:#000000;
	color:#ffffff;
	width:1000px;
	text-align: center;
}

#menu{
	
	display: block;
	padding: 10px 20px 10px 20px;
	font-size: 15px;
	float:left;
}

#menu a{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

#dzial_Java, #dzial_WWW, #dzial_CPP{
	background: #feffd1;
	text-align: center;
	border: 1px dashed #D2D4C9;
	display: block;
	float:left;
	margin-left: 25px;
	margin-right: 25px;

}

#dzial_Java a,#dzial_WWW a, #dzial_CPP a{
	color: #000000;
	text-decoration: none;
	padding: 15px 10px 15px 70px;
	display: block;
}

#dzial_Java a{
	background: url('graphics/java3.png') no-repeat 10px center;
}

#dzial_WWW a{
	background: url('graphics/www.png') no-repeat 10px center;
}

#dzial_CPP a{
	background: url('graphics/builder.png') no-repeat 10px center;
}

#projekt{
	width: 300px;
	height: 125px;
	border: 1px solid #000000;
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

#projekt:hover{
	background: #EDFA8E;
}

#p_heder{
	background: #000000;
	color: #ffffff;
	display: block;
}

#p_heder:first-child a{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

#p_heder_L{
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	background: #000000;
	width: 256px;
	height: 20px;
	margin-right: 0px;
}

#p_heder_R{
	margin-left: 1px;
	margin-right: 0px;
	float: right;
	padding-left: 1px;
	background: #000000;
}

#p_heder_R_G{
	float: right;
}

#p_heder img{
	height: 20px;
	float: left;
	background: #000000;
}

#p_lang{
	color: #747474;
	margin-bottom: 5px;
}

#p_content{
	clear:both;
	height:87px;
}

#p_bottom{
    bottom: 0px;
	width: 100%;
}

#p_when{
	font-size: 90%;
	float: left;
	float: bottom;
	color: #747474;
}

#p_read{
	float: right;
	background: #000000;
	text-align: center;
	display: block;
}

#p_read a{
    right: 0px;
	color: #ffffff;
	text-decoration: none;
	display: block;
}